@using extension.railgunit.com.Image
@using web.artimeagallery.com.Models
@model web.artimeagallery.com.Models.ArtworkViewModel

@{
    var count = Model.Count;
} 
    <div class="form-group">
        @Html.LabelFor(model => model.Artwork.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" id="Artwork[@count].Title" name="Artwork[@count].Title" value="" required />
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Artwork.ResizedBytes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Image(Model.Artwork.ResizedBytes);
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artwork.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="Artwork[@count].Description" name="Artwork[@count].Description" value="" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artwork.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="Artwork[@count].Price" name="Artwork[@count].Price" value="" required />
            </div>
        </div>

