@using web.artimeagallery.com.Models
@{
    var artistList = HttpRuntime.Cache.Get("artists") as List<Artist>;

    var options = new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        OnComplete = "Call successful",
        UpdateTargetId = "ajaxArtistsContent"

    };

}

<!DOCTYPE html>
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en-US">     <![endif]-->
<!--[if IE 9]>					<html class="ie9 no-js" lang="en-US">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie no-js" lang="en-US">
<!--<![endif]-->
<!-- Mirrored from almera.webtemplatemasters.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 Jul 2015 16:53:05 GMT -->
<!-- Added by HTTrack -->

<head>
    <title>Artimea Gallery</title>
    <!-- Google Web Fonts
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Allura|Oranienbaum|Oswald:300,400,700' rel='stylesheet' type='text/css'>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--[if ie]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1"/><![endif]-->
    <link href="http://almera.nodportal.net/wp-content/themes/almera/favicon.ico" rel="icon" type="image/x-icon" />

    <!-- Mobile Specific Metas
    ================================================== -->
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="almera RSS Feed" href="indexd784.html?feed=rss2" />
    <!-- CSS
    ================================================== -->



    <script type="text/javascript">
        var enable_hash = "false";
        var context_menu = "true";
        var enable_scrolling_bar = "true";
        var scrolling_speed = "5";
        var site_url = "/Template/index.html";
        var capcha_image_url = "/Template/wp-content/themes/almera/helper/capcha/image.php/index.html";
        var template_directory = "/Template/wp-content/themes/almera/index.html";
        var ajaxurl = "/Template/wp-admin/admin-ajax.html";
        var ajax_nonce = "86ac5567a9";
        //translations
        var lang_enter_correctly = "Please enter correct";
        var lang_sended_succsessfully = "Your message has been sent successfully!";
        var lang_server_failed = "Server failed. Send later";
        var lang_any = "Any";
        var lang_home = "Home";
        var disable_image_lightbox = "";
    </script>

    <meta name='robots' content='noindex,follow' />

    <script type="text/javascript">

        var tmm_demo_styles_list = {
            /*  0: {
                  className: 'style_0',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/color-1.css',
                  icon_type: 'color',
                  color: '#5AC1CA',
                  image_file: '',
              },
              1: {
                  className: 'style_1',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/color-10.css',
                  icon_type: 'color',
                  color: '#edc34c',
                  image_file: '',
              },
              2: {
                  className: 'style_2',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/color-11.css',
                  icon_type: 'color',
                  color: '#ff8b84',
                  image_file: '',
              },
              3: {
                  className: 'style_3',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/color-12.css',
                  icon_type: 'color',
                  color: '#f0953f',
                  image_file: '',
              },
              4: {
                  className: 'style_4',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/color-2.css',
                  icon_type: 'color',
                  color: '#b5a594',
                  image_file: '',
              },
              5: {
                  className: 'style_5',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/color-3.css',
                  icon_type: 'color',
                  color: '#716982',
                  image_file: '',
              },
              6: {
                  className: 'style_6',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/color-4.css',
                  icon_type: 'color',
                  color: '#999490',
                  image_file: '',
              },
              7: {
                  className: 'style_7',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/color-5.css',
                  icon_type: 'color',
                  color: '#84686A',
                  image_file: '',
              },
              8: {
                  className: 'style_8',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/color-6.css',
                  icon_type: 'color',
                  color: '#85C966',
                  image_file: '',
              },
              9: {
                  className: 'style_9',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/color-7.css',
                  icon_type: 'color',
                  color: '#65bfb3',
                  image_file: '',
              },
              10: {
                  className: 'style_10',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/color-8.css',
                  icon_type: 'color',
                  color: '#64add3',
                  image_file: '',
              },
              11: {
                  className: 'style_11',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/color-9.css',
                  icon_type: 'color',
                  color: '#ea7256',
                  image_file: '',
              },
              12: {
                  className: 'style_12',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/dark-color-1.css',
                  icon_type: 'color',
                  color: '#5AC1CA',
                  image_file: '',
              },
              13: {
                  className: 'style_13',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/dark-color-10.css',
                  icon_type: 'color',
                  color: '#edc34c',
                  image_file: '',
              },
              14: {
                  className: 'style_14',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/dark-color-11.css',
                  icon_type: 'color',
                  color: '#ff8b84',
                  image_file: '',
              },
              15: {
                  className: 'style_15',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/dark-color-12.css',
                  icon_type: 'color',
                  color: '#f0953f',
                  image_file: '',
              },
              16: {
                  className: 'style_16',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/dark-color-2.css',
                  icon_type: 'color',
                  color: '#b5a594',
                  image_file: '',
              },
              17: {
                  className: 'style_17',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/dark-color-3.css',
                  icon_type: 'color',
                  color: '#716982',
                  image_file: '',
              },
              18: {
                  className: 'style_18',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/dark-color-4.css',
                  icon_type: 'color',
                  color: '#999490',
                  image_file: '',
              },
              19: {
                  className: 'style_19',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/dark-color-5.css',
                  icon_type: 'color',
                  color: '#84686A',
                  image_file: '',
              },
              20: {
                  className: 'style_20',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/dark-color-6.css',
                  icon_type: 'color',
                  color: '#85C966',
                  image_file: '',
              },
              21: {
                  className: 'style_21',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/dark-color-7.css',
                  icon_type: 'color',
                  color: '#65bfb3',
                  image_file: '',
              },
              22: {
                  className: 'style_22',
                  css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/dark-color-8.css',
                  icon_type: 'color',
                  color: '#64add3',
                  image_file: '',
              },*/
            23: {
                className: 'style_23',
                css_file_link: 'http://almera.webtemplatemasters.com/wp-content/uploads/thememakers/almera/theme_schemes/dark-color-9.css',
                icon_type: 'color',
                color: '#ea7256',
                image_file: '',
            }
        };
    </script>





    @*LOCAL*@

    <link rel="alternate" type="application/rss+xml" title="almera &raquo; Feed" href="~/Template/indexd784.html?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title="almera &raquo; Comments Feed" href="~/Template/indexa6da.html?feed=comments-rss2" />
    <link rel="alternate" type="application/rss+xml" title="almera &raquo; Folio Layout 1 Comments Feed" href="~/Template/index76cc.html?feed=rss2&amp;page_id=2" />

    <link rel="stylesheet" id="tmm_theme_style_css-css" href="~/Template/wp-content/themes/almera/style3d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_skeleton_css-css" href="~/Template/wp-content/themes/almera/css/skeleton3d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_layout_css-css" href="~/Template/wp-content/themes/almera/css/layout3d81.css" type="text/css" media="all" />
    @*<link rel="stylesheet" id="tmm_font_awesome_css-css" href="~/Template/wp-content/themes/almera/css/font-awesome3d81.css" type="text/css" media="all" />*@
    <link rel="stylesheet" id="tmm_animation_css-css" href="~/Template/wp-content/themes/almera/css/animation3d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_custom1_css-css" href="~/Template/wp-content/themes/almera/css/custom13d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_custom2_css-css" href="~/Template/wp-content/themes/almera/css/custom23d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_fancybox_css-css" href="~/Template/wp-content/themes/almera/js/fancybox/jquery.fancybox3d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_epic_slider_css-css" href="~/Template/wp-content/themes/almera/js/epicslider/epicslider3d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_epic_slider_responsive_css-css" href="~/Template/wp-content/themes/almera/js/epicslider/epicslider-reponsive3d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_flexslider_css-css" href="~/Template/wp-content/themes/almera/extensions/sliders/items/flex/css/styles3d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_theme_social-likes_css-css" href="~/Template/wp-content/themes/almera/css/social-likes3d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_theme_mediaelementplayer_css-css" href="~/Template/wp-content/plugins/tmm_content_composer/js/shortcodes/mediaelement/jquery.mediaelementplayer3d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_grid-css" href="~/Template/wp-content/plugins/tmm_content_composer/css/grid3d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_fontello-css" href="~/Template/wp-content/plugins/tmm_content_composer/css/fontello3d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_layout-css" href="~/Template/wp-content/plugins/tmm_content_composer/css/shortcodes_layout3d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_layout_constructor-css" href="~/Template/wp-content/plugins/tmm_content_composer/css/layout_front3d81.css" type="text/css" media="all" />
    <link rel="stylesheet" id="tmm_ext_demo_css-css" href="~/Template/wp-content/themes/almera/extensions/demo/css/styles3d81.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Scripts/font-awesome-4.4.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="~/Scripts/slick/slick.css" />
    <link rel="stylesheet" href="~/Scripts/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/Scripts/owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="~/Scripts/owl-carousel/owl.theme.css" />
    <link rel="stylesheet" href="~/Scripts/owl-carousel/owl.transitions.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />

    <script type='text/javascript' src="~/Scripts/jquery-1.10.2.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/config.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/custom.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/jquery.infinitescroll.min.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/jquery.jflickrfeed.min.js"></script>


    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/jquery.animation.easing.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/jquery.cycle.all.min.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/jquery.easing.1.3.min.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/jquery.isotope.min.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/jquery.masonry.min.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/jquery.mobile-touch-swipe-1.0.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/jquery.modernizr.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/jquery.mousewheel.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/jquery.resizegrid.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/jquery.stapel.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/jquery.sudoslider.min.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/social-likes.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/theme.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/theme_ajax.js"></script>


    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/fancybox/jquery.fancybox.pack.js"></script>
    <script type='text/javascript' src="~/Scripts/Downloaded/almera/js/epicslider/jquery.epicslider.js"></script>
    <script type="text/javascript" src="~/Scripts/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.visible.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.visible.min.js"></script>


</head>






<body class="home page page-id-2 page-parent page-template page-template-template-home1 page-template-template-home1-php" data-pageloader="1">

    <header id="header">
        <div class="container">
            <div class="sixteen columns">
                <div id="logo">

                    <h1>
                        <a title="Just another WordPress site" href="~/Home/Index"><img src="~/Images/logosmall.png"></a>
                    </h1>

                </div>
                <nav id="navigation" class="navigation">


                    <div class="menu-primary-menu-container">
                        <ul id="menu-primary-menu" class="menu">
                            <li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-104">
                                <a href="@Url.Action("ArtistListing", "Home")">Artists</a>
                                <ul class="sub-menu">

                                    @foreach (var a in artistList)
                                    {
                                        <li id="menu-item-605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-605">
                                            @Ajax.ActionLink(a.FirstName + " " + a.LastName, "ShowArtist", new { Id = a.Id }, options, new { })
                                        </li>
                                    }

                                </ul>
                            </li>
                            <li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-104">
                                <a href="@Url.Action("GalleryIndex", "Home")">Gallery</a>
                                @*  <ul class="">
                                        <li id="menu-item-573" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-573"><a href="index.html">Folio Layout 1</a></li>
                                        <li id="menu-item-572" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-572"><a href="~/Template/index7943.html?page_id=568">Folio Layout 2</a></li>
                                        <li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292"><a href="~/Template/indexf5a0.html?page_id=289">Fullscreen</a></li>
                                        <li id="menu-item-287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"><a href="~/Template/indexd4f9.html?page_id=284">Masonry</a></li>
                                        <li id="menu-item-644" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-644"><a href="~/Template/indexedc2.html?page_id=642">Home Flex</a></li>
                                    </ul>*@
                            </li>
                            <li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-104">
                                <a href="@Url.Action("", "")">Exhibitions</a>
                                @* <ul class="sub-menu">
                                        <li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a href="~/Template/index31e8.html?page_id=96">Elements</a></li>
                                        <li id="menu-item-102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-102"><a href="~/Template/indexfff9.html?page_id=97">Columns</a></li>
                                        <li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="~/Template/index1956.html?page_id=98">Typography</a></li>
                                    </ul>*@
                            </li>
                            @* <li id="menu-item-329" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-329">
                                    <a href="~/Template/index0581.html?page_id=326">Artists</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-605"><a href="~/Template/index0581.html?page_id=326">Thumbnails</a></li>
                                        <li id="menu-item-303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="~/Template/indexd622.html?page_id=302">3 Columns</a></li>
                                        <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-315"><a href="~/Template/indexe158.html?page_id=311">4 Columns</a></li>
                                        <li id="menu-item-679" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-679"><a href="~/Template/indexfe41.html?page_id=673">With ajax pagination</a></li>
                                        <li id="menu-item-678" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-678"><a href="~/Template/indexb356.html?page_id=676">Without slideUp effect</a></li>
                                    </ul>
                                </li>*@
                            <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a href="@Url.Action("About", "Home")">About</a></li>
                            <li id="menu-item-161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a href="@Url.Action("Contact", "Home")">Contact</a></li>

                            <li id="menu-item-161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a href="@Url.Action("Login", "Account")">Log In</a></li>




                            @if (User.Identity.IsAuthenticated)
                            {
                                <li id="menu-item-329" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-329">
                                    <a href="#">Admin</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-605"><a href="@Url.Action("Create", "Artists")">Add Artist</a></li>
                                        <li id="menu-item-605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-605"><a href="@Url.Action("Index", "Artists")">Edit Existing Artists</a></li>
                                        <li id="menu-item-303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="@Url.Action("Create", "Artworks")">Add Artwork</a></li>
                                        <li id="menu-item-303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="@Url.Action("Index", "Artworks")">Edit Existing Artwork</a></li>
                                        <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-315"><a href="@Url.Action("Create", "ArtworkTypes")">Add Art Categories</a></li>
                                        <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-315"><a href="@Url.Action("Index", "ArtworkTypes")">Edit Art Categories</a></li>
                                        @*<li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-315"><a href="@Url.Action("Create", "Exhibitions")">Add Exhibition</a></li>
                                            <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-315"><a href="@Url.Action("Index", "Exhibitions")">Edit Existing Exhibitions</a></li>*@

                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </nav><!--/ #navigation-->
                <div class="col-3">

                    @*
                        <ul class="social-icons">
                            <li class="twitter"><a target="_blank" href="#"><span>twitter</span></a></li>
                            <li class="facebook"><a target="_blank" href="#"><span>facebook</span></a></li>
                            <li class="dribbble"><a target="_blank" href="#"><span>dribbble</span></a></li>
                            <li class="youtube"><a target="_blank" href="#"><span>youtube</span></a></li>
                            <li class="instagram"><a target="_blank" href="#"><span>instagram</span></a></li>

                        </ul>*@





                </div>
            </div><!--/ .columns-->
        </div><!--/ .container-->
    </header><!--/ #header-->
    <!-- - - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - - -->
    <!-- - - - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->
    <!-- - - - - - - - - - - - - - - - Dynamic Content - - - - - - - - - - - - - - - - -->
    @RenderBody()
    <!-- - - - - - - - - - - - - - - - Dynamic Content - - - - - - - - - - - - - - - - -->
    <!-- - - - - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - - -->
    <!-- - - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->
    <footer id="footer">
        <div class="container">
            <div class="sixteen columns">
                <div class="eight columns alpha">
                    <div class="copyright">
                        Copyright © 2015. <a target="_blank" href="http://railgunit.com/">Railgun.IT</a>. All rights reserved
                    </div><!--/ .copyright-->
                    <div class="developed">
                        Developed by <a target="_blank" href="http://railgunit.com/">Railgun.IT</a>
                    </div><!--/ .developed-->
                </div><!--/ .columns-->
                <div class="eight columns omega">


                    <ul class="social-icons">

                        <li class="twitter"><a target="_blank" href="#"><span>twitter</span></a></li>
                        <li class="facebook"><a target="_blank" href="#"><span>facebook</span></a></li>
                        <li class="dribbble"><a target="_blank" href="#"><span>dribbble</span></a></li>
                        <li class="vimeo"><a target="_blank" href="#"><span>vimeo</span></a></li>
                        <li class="youtube"><a target="_blank" href="#"><span>youtube</span></a></li>
                        <li class="pinterest"><a target="_blank" href="#"><span>pinterest</span></a></li>
                        <li class="instagram"><a target="_blank" href="#"><span>instagram</span></a></li>
                        <li class="linkedin"><a target="_blank" href="#"><span>linkedin</span></a></li>
                        <li class="flickr"><a target="_blank" href="#"><span>flickr</span></a></li>
                        <li class="gplus"><a target="_blank" href="#"><span>gplus</span></a></li>
                        <li class="behance"><a target="_blank" href="#"><span>behance</span></a></li>
                        <li class="rss"><a target="_blank" href="#"><span>rss</span></a></li>

                    </ul><!--/ .social-icons-->

                </div><!--/ .columns-->
            </div><!--/ .columns-->
        </div><!--/ .container-->
    </footer><!--/ #footer-->
    <!-- - - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - -->



    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>



    @*HACK FOR SIZES*@
    <script type="text/javascript">

        //  alert($(window).width());
        $(document).ready(function () {

            if ($(window).width() <= 1024) {
                //its small
                $(".hideIfSmall").hide();
            } else {
                //its big
                $(".hideIfSmall").show();
            }

        });
    </script>
</body>


</html>
